@tailwind base;
@tailwind components;
@tailwind utilities;

.Pagecss {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #041551;
  color: white;
  position: relative;
}

::selection {
  background-color: #1d8ba6;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #1a9eceb6;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background: #eeeeee00;
}

.active-link {
  background-color: red;
}

.header {
  font-family: serif;
}

/*hero */
.swiper-button-prev,
.swiper-button-next {
  margin: 0 140px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
  padding: 4px 120px;
}

/* this is for about section */
.circle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.circle {
  background: linear-gradient(90deg, #48a6db, #00d856);
  filter: blur(120px);
  position: absolute;
  border-radius: 50%;
}

/* this is for members */
.cards {
  background-image: linear-gradient(0deg, #1d65a6, transparent);
  height: 70%;
  position: absolute;
  bottom: 0;
  border-radius: 20px;
  width: 100%;
}

/* helpdesh */
.parallax {
  background-image: url("../../public/helpbg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.input-data {
  width: 100%;
  position: relative;
}
.input-data input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  border-bottom: 2px solid white;
}

/* custom responsiveness */
@media screen and (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin: 0 30px;
  }
}

@media screen and (max-width: 640px) {
  .parallax {
    background-image: none;
  }
}
